@import "../0_css/base/normalize.css";
@import "../0_css/base/button.css";
@import "../0_css/utils/grid.css";
@import "../0_css/utils/font.css";

:root {
  --clr-neutral-100-hsl: 0, 0%, 100%;
  --clr-neutral-900-hsl: 0, 0%, 0%;

  --clr-neutral-100: hsl(var(--clr-neutral-100-hsl));
  --clr-neutral-900: hsl(var(--clr-neutral-900-hsl));

  --clr-neutral-800-hsl: 229, 32%, 26%;
  --clr-maroon-100-hsl: 0, 78%, 93%;
  --clr-maroon-200-hsl: 1, 79%, 66%;
  --clr-maroon-400-hsl: 335, 62%, 44%;
  --clr-maroon-500-hsl: 335, 62%, 24%;
  --clr-maroon-700-hsl: 294, 18%, 31%;
  --clr-maroon-900-hsl: 293, 17%, 21%;

  --clr-neutral-800: hsl(var(--clr-neutral-800-hsl));
  --clr-maroon-100: hsl(var(--clr-maroon-100-hsl));
  --clr-maroon-200: hsl(var(--clr-maroon-200-hsl));
  --clr-maroon-400: hsl(var(--clr-maroon-400-hsl));
  --clr-maroon-500: hsl(var(--clr-maroon-500-hsl));
  --clr-maroon-700: hsl(var(--clr-maroon-700-hsl));
  --clr-maroon-900: hsl(var(--clr-maroon-900-hsl));

  --body-bg: var(--clr-maroon-900);
  --clr-text: var(--clr-neutral-800);

  --ff-base: system-ui, sans-serif;
  --ff-alt: "Open Sans", sans-serif;

  --fs-sm: 0.8rem;
  --fs-md: 1.2rem;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --space-50: 0.5rem;
  --space-100: 1rem;
  --space-150: 1.5rem;
  --space-200: 2rem;

  --space-fluid-50: 0.5rem;
  --space-fluid-100: 1rem;
  --space-fluid-150: 1.5rem;
  --space-fluid-200: 2rem;

  --border-radius: 1rem;
  --border-rounded: 50%;
  --border-pill: 100vw;

  --box-shadow-clr: hsl(var(--clr-neutral-900-hsl), 0.2);
}

body {
  background-color: var(--body-bg);
  color: var(--clr-text);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: var(--space-100);
  font-family: var(--ff-base);
  font-weight: var(--fw-normal);
  font-style: normal;
  font-optical-sizing: auto;
  overflow-x: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  grid-template-rows: auto 1fr 5rem;
}

.box {
  --_box-shadow: inset 0 0 0.5rem 0 hsl(var(--clr-neutral-100-hsl), 0.5),
    0 0 2rem 1rem hsl(var(--clr-neutral-900-hsl), 0.2);

  border-radius: 2rem;
}

.box--main {
  grid-row: 1 / span 3;
  grid-column: 1 / 3;
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  color: var(--clr-maroon-100);
  border: 1px solid var(--clr-maroon-700);
  background-color: transparent;
  box-shadow: var(--_box-shadow);
  transform: translateX(-100vw);
  animation: slide 1s ease forwards;
}

.box__head {
  grid-column: 2;
  grid-row: 1;
  padding: var(--space-100) var(--space-200);
}

.box--secondary {
  grid-row: 2 / 2;
  grid-column: 2 / 4;
  background-color: var(--clr-maroon-400);
  text-align: center;
  color: var(--clr-maroon-100);
  padding: var(--space-200);
  box-shadow: var(--_box-shadow);
  transform: translateX(100vw);
  animation: slide 1s 1s ease forwards;
}

.divider {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
  margin: var(--space-100) 0;
}

.divider::before {
  content: "";
  height: 2px;
  position: absolute;
  inset: 50% 0 auto 0;
  transform: translateY(-50%);
  background-image: linear-gradient(
    90deg,
    var(--clr-maroon-500) 0%,
    var(--clr-maroon-500) 30%,
    var(--clr-maroon-400) 30%,
    var(--clr-maroon-400) 70%,
    var(--clr-maroon-500) 70%,
    var(--clr-maroon-500) 100%
  );
  z-index: -1;
}

form {
  margin-block-end: var(--space-100);
}

button {
  --_btn-base-bg: var(--clr-maroon-500);
  --_btn-base-color: var(--clr-neutral-100);
  --_btn-hover-bg: transparent;
  --_btn-padding: 0.8rem var(--space-200);
  --_btn-border: 0;
  --_btn-radius: 0.8rem;
  --_btn-transition: background-color 250ms ease, box-shadow 250ms ease;

  box-shadow: inset 0 0 0rem 0 var(--clr-maroon-200),
    0 0 0rem 0.2rem var(--box-shadow-clr);
}

button:hover {
  box-shadow: inset 0 0 0.5rem 0 var(--clr-maroon-200),
    0 0 0rem 0.2rem var(--box-shadow-clr);
}

label + input {
  margin: var(--space-50) 0 var(--space-100);
}

input {
  border-radius: 0.8rem;
  padding: var(--space-50) var(--space-100);
  border: 2px solid var(--clr-maroon-500);
}

.terms {
  font-size: var(--fs-sm);
}

@keyframes slide {
  100% {
    transform: translateX(0);
  }
}
