@import "../0_css/base/normalize.css";

:root {
  --clr-neutral-100-hsl: 0, 0%, 100%;
  --clr-neutral-900-hsl: 0, 0%, 0%;

  --clr-neutral-100: hsl(var(--clr-neutral-100-hsl));
  --clr-neutral-900: hsl(var(--clr-neutral-900-hsl));

  --clr-green-100-hsl: 149, 82%, 82%;
  --clr-green-400-hsl: 168, 64%, 75%;
  --clr-purple-100-hsl: 213, 66%, 69%;
  --clr-purple-400-hsl: 255, 50%, 63%;

  --clr-green-100: hsl(var(--clr-green-100-hsl));
  --clr-green-400: hsl(var(--clr-green-400-hsl));
  --clr-purple-100: hsl(var(--clr-purple-100-hsl));
  --clr-purple-400: hsl(var(--clr-purple-400-hsl));

  --body-bg: var(--clr-neutral-900);
  --clr-text: var(--clr-neutral-100);

  --ff-base: system-ui, sans-serif;
  --ff-alt: "Poppins", sans-serif;

  --fs-sm: 0.8rem;
  --fs-md: 1.2rem;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --space-50: 0.5rem;
  --space-100: 1rem;
  --space-150: 1.5rem;
  --space-200: 2rem;

  --space-fluid-50: 0.5rem;
  --space-fluid-100: 1rem;
  --space-fluid-150: 1.5rem;
  --space-fluid-200: 2rem;

  --border-radius: 1rem;
  --border-rounded: 50%;
  --border-pill: 100vw;

  --box-shadow-clr: hsl(var(--clr-neutral-900-hsl), 0.2);
}

body {
  font-family: var(--ff-alt);
  font-weight: var(--fw-normal);
  font-style: normal;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
      circle at top left,
      hsl(var(--clr-green-400-hsl), 0.5) 45%,
      hsl(var(--clr-neutral-100-hsl), 0.5) 50%
    ),
    radial-gradient(
      circle at bottom right,
      hsl(var(--clr-purple-400-hsl), 0.5) 20%,
      hsl(var(--clr-neutral-100-hsl), 0.5) 30%
    );
}

h1 {
  text-shadow: 0.1rem 0.2rem 0.1rem var(--clr-green-400);
  margin: 0;
}

.wrapper {
  background-color: hsl(var(--clr-green-100-hsl), 0.3);
  box-shadow: 0.2rem 0.5rem 1rem 0.2rem hsl(var(--clr-neutral-900-hsl), 0.1);
  border-radius: var(--border-radius);
  padding: var(--space-200);
  border: 1px solid var(--clr-green-100);

  animation: slide-up 600ms forwards;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.list {
  list-style: none;
  margin: var(--space-200) 0;
  padding: 0;
}

.list__item {
  display: flex;
  gap: var(--space-200);
  align-items: center;
  margin: var(--space-100) 0;
  border-radius: var(--border-pill);
  border: 1px solid transparent;
  transition: background-color 300ms ease-out;
}

.list__item:hover {
  border-color: hsl(var(--clr-green-100-hsl), 0.8);
  background-color: hsl(var(--clr-green-400-hsl), 0.5);
}

.list__item-img {
  border-radius: var(--border-rounded);
  border: 4px solid var(--clr-neutral-100);
}

.list__item-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.list__item-name {
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
}

button {
  padding: 0.8rem var(--space-200);
  border-radius: calc(var(--border-radius) / 2);
  width: 100%;
  cursor: pointer;
  color: var(--clr-neutral-100);
  border: 1px solid var(--clr-purple-100);
  background-color: hsl(var(--clr-purple-100-hsl), 0.8);
  box-shadow: 0 0.2rem 0.5rem 0.1rem var(--box-shadow-clr);
  position: relative;
  overflow: hidden;
}

button:hover,
button:focus {
  border-color: var(--clr-purple-400);
}

button svg {
  position: absolute;
  inset-inline-end: 0;
  inset-block-end: -0.5rem;
  width: 4rem;
  transform: scale(1) rotate(-5deg);
  fill: var(--clr-purple-400);
  transition: transform 300ms ease;
}

button:hover svg,
button:focus svg {
  transform: scale(1.5) rotate(-15deg);
}
