@import "../0_css/base/normalize.css";

:root {
  --clr-primary-100: hsl(0, 0%, 80%);
  --clr-primary-400: hsl(203, 39%, 57%);
  --clr-primary-700: hsl(199, 27%, 18%);
  --clr-primary-900: hsl(0, 0%, 0%);

  --clr-accent-400: hsl(38, 84%, 71%);

  --body-bg: var(--clr-primary-700);
  --clr-text: var(--clr-primary-100);

  --fw-normal: 400;
  --fw-bold: 700;
}

body {
  background-color: var(--body-bg);
  color: var(--clr-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: var(--fw-normal);
  font-style: normal;
}

.lamp {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light {
  --_light-color: var(--clr-primary-700);

  background-color: var(--clr-accent-400);
  height: 20em;
  width: 30em;
  position: relative;

  background-image: linear-gradient(0deg, transparent, var(--_light-color));
}

.light::before,
.light::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  border-style: solid;
  z-index: 1;
}

.light::before {
  border-width: 20em 0 0 6em;
  border-color: transparent transparent var(--_light-color) var(--_light-color);
}

.light::after {
  right: 0;
  border-width: 0 0 20em 6em;
  border-color: transparent var(--_light-color) var(--_light-color) transparent;
}

.light-bottom {
  height: 10em;
  width: 20em;
  transform: rotate(180deg);
  position: absolute;
  top: 35em;
  z-index: 0;
  background-image: linear-gradient(0deg, transparent, var(--_light-color));
  opacity: 0.6;
}

.shade {
  background-color: var(--clr-primary-400);
  height: 20em;
  width: 20em;
  position: relative;
  z-index: 0;

  background: rgb(102, 155, 188);
  background: linear-gradient(
    90deg,
    rgba(102, 155, 188, 1) 0%,
    rgba(175, 196, 222, 1) 12%,
    rgba(102, 155, 188, 1) 27%,
    rgba(56, 106, 138, 1) 86%
  );
}

.stativ {
  background-color: var(--clr-primary-900);
  height: 10em;
  width: 2em;
}

.foot {
  width: 10em;
  height: 5em;
  background-color: var(--clr-primary-900);
  border-radius: 50%;
}
