@import "../0_css/base/normalize.css";
@import "../0_css/utils/grid.css";

:root {
  --clr-neutral-100-hsl: 0, 0%, 100%;
  --clr-neutral-900-hsl: 0, 0%, 0%;

  --clr-neutral-100: hsl(var(--clr-neutral-100-hsl));
  --clr-neutral-900: hsl(var(--clr-neutral-900-hsl));

  --clr-neutral-200-hsl: 0, 0%, 80%;
  --clr-neutral-600-hsl: 0, 0%, 40%;
  --clr-neutral-800-hsl: 0, 0%, 15%;
  --clr-accent-400-hsl: 203, 39%, 57%;
  --clr-accent-600-hsl: 200, 26%, 18%;
  --clr-secondary-hsl: 38, 84%, 71%;

  --clr-neutral-200: hsl(var(--clr-neutral-200-hsl));
  --clr-neutral-600: hsl(var(--clr-neutral-600-hsl));
  --clr-neutral-800: hsl(var(--clr-neutral-800-hsl));
  --clr-accent-400: hsl(var(--clr-accent-400-hsl));
  --clr-accent-600: hsl(var(--clr-accent-600-hsl));
  --clr-secondary: hsl(var(--clr-secondary-hsl));

  --body-bg: var(--clr-accent-600);
  --clr-text: var(--clr-neutral-200);

  --ff-base: system-ui, sans-serif;
  --ff-alt: "Poppins", sans-serif;

  --fs-sm: 0.8rem;
  --fs-md: 1.2rem;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --space-50: 0.5rem;
  --space-100: 1rem;
  --space-150: 1.5rem;
  --space-200: 2rem;

  --space-fluid-50: 0.5rem;
  --space-fluid-100: 1rem;
  --space-fluid-150: 1.5rem;
  --space-fluid-200: 2rem;

  --border-radius: 1rem;
  --border-rounded: 50%;
  --border-pill: 100vw;

  --box-shadow-clr: hsl(var(--clr-neutral-900-hsl), 0.2);

  --l-cord-w: 0.25em;
  --l-cord-h: 5em;
  --l-cord-nob-w: 0.5em;
  --l-cord-nob-h: 0.5em;
  --l-cord-nob-radius: 0.5rem 0.5rem 0 0;
  --l-shell-w: 3em;
  --l-shell-h: 2em;
  --l-shell-radius: 2rem 2rem 0 0;
  --l-shade-w: 10em;
  --l-shade-h: 5em;
  --l-shade-radius: 10rem 10rem 0.5rem 0.5rem;
  --l-lightbold-w: 2.5em;
  --l-lightbold-h: 2.5em;

  --l-ns-cord-nob-w: 0.5em;
  --l-ns-cord-nob-h: 0.4em;
  --l-ns-cord-shell-w: 1.5em;
  --l-ns-cord-shell-h: 2em;
  --l-ns-light-top-w: 1.25em;
  --l-ns-light-top-h: 1.5em;
  --l-ns-light-top-radius: 0.2rem 0.2rem 0 0;
  --l-ns-lightbold-w: 3.5em;
  --l-ns-lightbold-h: 3.5em;
}

body {
  --animation-state: paused;
  --filter: grayscale(1);
  --shadow-opacity: 0.3;

  background-color: var(--body-bg);
  color: var(--clr-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: var(--ff-alt);
  font-weight: var(--fw-normal);
  font-style: normal;
  text-align: center;

  background-image: radial-gradient(
      100% 100% at 50% 30%,
      hsla(60, 8%, 47%, 0.7) 0%,
      var(--clr-accent-600) 100%
    ),
    linear-gradient(0deg, var(--clr-accent-600) 40%, hsl(0, 0%, 33%) 40%);
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-color: var(--clr-neutral-900);
  opacity: 0.5;
  z-index: 10;
  pointer-events: none;
}

[data-switch="on"]::before {
  opacity: 0;
}

[data-switch="on"] {
  --animation-state: running;
  --filter: grayscale(0);
  --shadow-opacity: 1;
}

.screen-size-small .lamp {
  transform: translatey(-110%);
}

.wrapper {
  max-width: 40em;
  padding-block-end: var(--space-200);
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 10rem;
  margin: 3rem 0;
  position: relative;
  perspective: 500px;
  perspective-origin: 55% 100%;
  text-shadow: 0 -0.4rem hsl(var(--clr-neutral-900-hsl), 0.3);
  animation: swing 3000ms linear infinite;
  animation-play-state: var(--animation-state);
}

h1::after {
  content: "404";
  position: absolute;
  inset: 0;
  color: transparent;
  filter: blur(5px);
  transform: translate3d(0, -23%, 0) rotateX(250deg) rotateY(0deg);
  transform-origin: bottom;
  opacity: var(--shadow-opacity);
}

.lamp {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(0);
  transition: transform 600ms ease;
}

.cord,
.cord-nob,
.cord-shell {
  background: hsl(0, 0%, 15%);
  background: linear-gradient(
    90deg,
    var(--clr-neutral-800) 0%,
    var(--clr-neutral-600) 56%,
    var(--clr-neutral-800) 100%
  );
}

.cord {
  width: var(--l-cord-w);
  height: var(--l-cord-h);
}

.cord-nob {
  width: var(--l-cord-nob-w);
  height: var(--l-cord-nob-h);
  border-radius: var(--l-cord-nob-radius);
}

.cord-shell {
  width: var(--l-shell-w);
  height: var(--l-shell-h);
  border-radius: var(--l-shell-radius);
}

.shade {
  width: var(--l-shade-w);
  height: var(--l-shade-h);
  position: relative;
  margin-top: -0.5rem; /* Cheating */
  border-radius: var(--l-shade-radius);
  background: var(--clr-neutral-600);
  background: radial-gradient(
    circle at top right,
    var(--clr-neutral-600) 0%,
    var(--clr-neutral-800) 80%
  );
  box-shadow: inset 0 0 2rem 0.5rem var(--box-shadow-clr);
}

.lightbold {
  width: var(--l-lightbold-w);
  height: var(--l-lightbold-h);
  border-radius: var(--border-rounded);
  background: hsl(0, 0%, 82%);
  background: radial-gradient(
    circle at top,
    hsl(0, 0%, 82%) 0%,
    hsl(0, 0%, 56%) 100%
  );
  box-shadow: inset 0 0 1rem 0.5rem var(--box-shadow-clr);
  position: absolute;
  inset-inline-start: 50%;
  inset-block-end: -20%;
  z-index: -1;
  transform: translateX(-50%);
}

.lamp--noshade {
  transform-origin: top center;
  animation: swing-lamp 3s linear infinite;
  animation-play-state: var(--animation-state);
}

.lamp--noshade .cord-nob {
  width: var(--l-ns-cord-nob-w);
  height: var(--l-ns-cord-nob-h);
}

.lamp--noshade .cord-shell {
  width: var(--l-ns-cord-shell-w);
  height: var(--l-ns-cord-shell-h);
}

.lamp--noshade .lightbold-top {
  width: var(--l-ns-light-top-w);
  height: var(--l-ns-light-top-h);
  position: relative;
  z-index: 2;
  border-radius: var(--l-ns-light-top-radius);
  background: hsl(44, 41%, 55%);
  background: linear-gradient(
    180deg,
    hsl(44, 41%, 55%) 0%,
    hsl(42, 100%, 75%) 67%,
    hsl(37, 100%, 77%)
  );
}

.lamp--noshade .lightbold {
  width: var(--l-ns-lightbold-w);
  height: var(--l-ns-lightbold-h);
  position: relative;
  inset: 0;
  inset-block-start: -8%;
  transform: none;
  z-index: 0;
  background: hsl(49, 88%, 84%);
  background: radial-gradient(
    circle at 50% 70%,
    hsl(49, 88%, 84%) 0%,
    hsl(39, 100%, 75%) 36%,
    hsl(37, 100%, 77%) 49%
  );
}

.lightbold-wrapper > * {
  box-shadow: 0 0 8rem 2rem hsla(49, 88%, 84%, 0.5);
}

.lightbold-wrapper {
  filter: var(--filter);
}

.lamp--mirror .shade {
  background: radial-gradient(
    circle at top left,
    var(--clr-neutral-600) 0%,
    var(--clr-neutral-800) 80%
  );
}

.lamp--mirror .cord-shell {
  background: linear-gradient(
    90deg,
    var(--clr-neutral-800) 0%,
    var(--clr-neutral-600) 45%,
    var(--clr-neutral-800) 100%
  );
}

.switch {
  position: relative;
  margin: 0 auto;
  height: 3rem;
  width: 3rem;
  background-color: var(--clr-neutral-200);
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch::before {
  content: "";
  display: block;
  background-color: hsl(0, 0%, 50%);
  height: 1.5rem;
  width: 1rem;
  border: 2px solid hsl(0, 0%, 50%);
  background-image: linear-gradient(
    0deg,
    hsl(0, 0%, 81%) 0%,
    hsl(0, 0%, 89%) 63%,
    hsl(0, 0%, 74%) 64%,
    hsl(0, 0%, 47%) 87%,
    hsl(0, 0%, 28%) 99%
  );
}

.switch--on::before {
  background-image: linear-gradient(
    0deg,
    hsl(0, 0%, 28%) 1%,
    hsl(0, 0%, 47%) 13%,
    hsl(0, 0%, 74%) 36%,
    hsl(0, 0%, 89%) 37%,
    hsl(0, 0%, 81%) 100%
  );
}

@keyframes swing {
  0%,
  50%,
  100% {
    perspective-origin: 55% 100%;
  }
  25% {
    perspective-origin: 50% 100%;
  }
  70% {
    perspective-origin: 60% 100%;
  }
}

@keyframes swing-lamp {
  0%,
  50%,
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
  25% {
    opacity: 0.6;
    transform: translateX(10%) rotate(5deg);
  }
  70% {
    opacity: 0.5;
    transform: translateX(-10%) rotate(-5deg);
  }
}
