@import "../0_css/base/normalize.css";
@import "../0_css/base/button.css";

:root {
  --clr-neutral-100-hsl: 0, 0%, 100%;
  --clr-neutral-900-hsl: 0, 0%, 0%;

  --clr-neutral-100: hsl(var(--clr-neutral-100-hsl));
  --clr-neutral-900: hsl(var(--clr-neutral-900-hsl));

  --clr-neutral-400-hsl: 144, 8%, 87%;
  --clr-neutral-800-hsl: 144, 7%, 13%;
  --clr-green-400-hsl: 127, 26%, 69%;
  --clr-green-600-hsl: 152, 37%, 46%;
  --clr-green-800-hsl: 181, 52%, 27%;

  --clr-neutral-400: hsl(var(--clr-neutral-400-hsl));
  --clr-neutral-800: hsl(var(--clr-neutral-800-hsl));
  --clr-green-400: hsl(var(--clr-green-400-hsl));
  --clr-green-600: hsl(var(--clr-green-600-hsl));
  --clr-green-800: hsl(var(--clr-green-800-hsl));

  --body-bg: var(--clr-neutral-800);
  --clr-text: var(--clr-neutral-100);

  --ff-base: system-ui, sans-serif;
  --ff-alt: "PT Sans", sans-serif;

  --fs-sm: 0.8rem;
  --fs-md: 1.2rem;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --space-50: 0.5rem;
  --space-100: 1rem;
  --space-150: 1.5rem;
  --space-200: 2rem;

  --space-fluid-50: 0.5rem;
  --space-fluid-100: 1rem;
  --space-fluid-150: 1.5rem;
  --space-fluid-200: 2rem;

  --border-radius: 0.5rem;
  --border-rounded: 50%;
  --border-pill: 100vw;

  --box-shadow-clr: hsl(var(--clr-neutral-900-hsl), 0.2);
}

body {
  background-color: var(--body-bg);
  color: var(--clr-text);
  margin: 0;
  padding: 0;
  font-family: var(--ff-alt);
  font-weight: var(--fw-normal);
  font-style: normal;
  font-optical-sizing: auto;

  background-image: radial-gradient(
    circle at center top,
    var(--clr-green-800),
    var(--clr-neutral-800)
  );
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--clr-green-800);
}

.state-nav {
  overflow: hidden;
}

/* Overlay */
.state-nav::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: hsla(var(--clr-neutral-900-hsl), 0.3);
}

.state-nav [data-trigger="nav"] span:nth-child(1) {
  transform: translateY(2px) rotate(45deg);
}

.state-nav [data-trigger="nav"] span:nth-child(2) {
  opacity: 0;
}

.state-nav [data-trigger="nav"] span:nth-child(3) {
  transform: translateY(-2px) rotate(-45deg);
}

.state-nav .nav-container {
  transform: translateX(0);
}

.menu-action {
  --_btn-base-bg: var(--clr-green-400);
  --_btn-hover-bg: var(--clr-green-600);
  --_btn-hover-color: var(--clr-neutral-800);
  --_btn-border: 1px solid var(--clr-green-600);
  --_btn-radius: var(--border-radius);
  --_size: 2.5em;

  position: fixed;
  top: calc(var(--space-100) - 0.25rem);
  z-index: 20;
  padding: var(--space-50);
  width: var(--_size);
  height: var(--_size);
}

[data-trigger="back"] {
  left: var(--space-100);
}

[data-trigger="nav"] {
  right: var(--space-100);
}

[data-trigger="nav"]:hover span {
  background-color: var(--clr-green-800);
}

[data-trigger="nav"] span {
  background-color: var(--clr-green-800);
  height: 2px;
  width: 100%;
  display: block;
  pointer-events: none;
  border-radius: var(--border-pill);
  position: relative;
  transform: translateY(0) rotate(0deg);
  transition: transform 200ms ease, opacity 200ms ease;
}

[data-trigger="nav"] span:nth-child(1) {
  transform: translateY(-6px) rotate(0deg);
}

[data-trigger="nav"] span:nth-child(3) {
  transform: translateY(6px) rotate(0deg);
}

.nav-container {
  position: fixed;
  inset: 0;
  left: auto;
  z-index: 10;
  width: 100%;
  max-width: 80%;
  background-color: hsl(var(--clr-green-600-hsl), 0.2);
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
  padding: var(--space-fluid-100);
}

/* ul */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* li */
.menu li {
}

.submenu {
  padding: var(--space-fluid-100);
  display: grid;
  gap: var(--space-fluid-100);
  background-color: hsl(var(--clr-green-600-hsl), 0.2);
  backdrop-filter: blur(2rem);
  transition: opacity 300ms ease, transform 500ms ease, visibility 300ms ease;
}

/* button, a */
.menu__item-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  padding: var(--space-50);
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
}

.menu-toggle::after,
.menu-toggle ~ .menu__item-top::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 24 24' data-testid='KeyboardArrowDownRoundedIcon'%3E%3Cpath d='M8.12 9.29 12 13.17l3.88-3.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-4.59 4.59c-.39.39-1.02.39-1.41 0L6.7 10.7a.9959.9959 0 0 1 0-1.41c.39-.38 1.03-.39 1.42 0'%3E%3C/path%3E%3C/svg%3E");
  background-position: center center;
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out;
}

.submenu__title {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.submenu li {
  margin-block: var(--space-50);
}

.submenu a {
  padding: var(--space-50) var(--space-100);
  text-decoration: none;
  display: inline-block;
  border-radius: var(--border-pill);
  transition: background-color 250ms ease-in-out;
}

.submenu a:hover {
  background-color: hsl(var(--clr-green-400-hsl), 0.4);
}

/* button + a */
.menu-toggle + .menu__item-top {
  display: none;
}

.menu__item-top {
  border-radius: var(--border-pill);
  transition: background-color 250ms ease-in-out;
}

.menu__item-top:hover {
  background-color: hsl(var(--clr-green-400-hsl), 0.4);
}

/* button */
.menu-toggle {
  --_btn-base-bg: transparent;
  --_btn-base-color: var(--clr-green-800);
  --_btn-border: 0;
  --_btn-padding: var(--space-100);
  --_btn-radius: var(--border-radius);
  --_btn-hover-bg: hsl(var(--clr-green-600-hsl), 0.2);
  --_btn-hover-color: var(--clr-neutral-100);
}

.menu-toggle[aria-expanded="true"]::after {
  transform: rotate(360deg);
}

a.highlight {
  background-color: hsl(var(--clr-green-600-hsl), 0.2);
  border-radius: var(--border-radius);
  color: currentColor;
}

.highlight img {
  border-radius: var(--border-radius);
}

.highlight__title {
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
  line-height: 1.1;
  margin-block: var(--space-100);
}

.highlight__author {
  font-weight: var(--fw-bold);
}

.highlight__stats {
  display: flex;
  gap: var(--space-50);
  font-size: 0.8rem;
}

.highlight__stats time::after {
  content: "";
  border-radius: var(--border-rounded);
  width: 2px;
  height: 2px;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--clr-neutral-100);
  margin-left: 0.5rem;
}

@media screen and (max-width: 59em) {
  .nav-container,
  .submenu {
    padding-top: 4rem;
  }

  .menu-toggle[aria-expanded="true"] ~ .submenu {
    transform: translateX(0);
  }

  .menu-toggle[aria-expanded="false"] ~ .submenu {
    transform: translateX(100vw);
  }

  .submenu {
    position: fixed;
    inset: 0;
    z-index: 3;
    overflow-y: auto;
  }
}

@media screen and (min-width: 60em) {
  :root {
    --space-fluid-50: 1rem;
    --space-fluid-100: 2rem;
    --space-fluid-150: 3rem;
    --space-fluid-200: 4rem;
  }

  body {
    padding: 0 var(--space-100);
  }

  .menu-action {
    display: none;
  }

  .nav-container {
    position: relative;
    background-color: transparent;
    transform: none;
    overflow-y: visible;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
  }

  .menu {
    display: flex;
    justify-content: end;
    gap: var(--space-100);
  }

  .menu-toggle {
    display: none;
  }

  .menu-toggle + .menu__item-top {
    display: flex;
    justify-content: center;
    gap: var(--space-50);
  }

  .menu__item-top {
    white-space: nowrap;
    padding: var(--space-50) var(--space-100);
  }

  .menu li:is(:hover, :focus-within) .submenu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    transition: opacity 300ms ease, transform 250ms ease, visibility 250ms ease;
  }

  .menu li:is(:hover, :focus-within) .menu__item-top::after,
  .menu__item-top:hover::after {
    transform: rotate(0deg);
  }

  .menu li:is(:hover, :focus-within) .menu__item-top {
    background-color: hsl(var(--clr-green-400-hsl), 0.4);
  }

  /* FIXME: top: auto causes glitches on hover .menu__item-top */
  .submenu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-100);
    padding: var(--space-fluid-100);
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    opacity: 0;
    transform: translateY(-100%);
    visibility: hidden;
    transition: opacity 300ms ease, transform 500ms ease, visibility 250ms ease;
    box-shadow: 0 0 1rem -0.6rem hsl(var(--clr-neutral-900-hsl), 0.8);
  }

  .submenu__title {
    padding: var(--space-50) var(--space-100);
  }

  .submenu__col {
    border-right: 1px solid hsl(var(--clr-neutral-900-hsl), 0.2);
  }

  .submenu__col:last-child {
    border: 0;
  }
}
