@import "../0_css/base/normalize.css";
@import "../0_css/base/button.css";
@import "../0_css/utils/helpers.css";

/*
<img srcset="https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=1032&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1032w, https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=1332&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1332w, https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=1632&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1632w, https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=1932&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1932w, https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=2064&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2064w, https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=2232&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2232w, https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=2532&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2532w, https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=2664&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2664w, https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=2832&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2832w, https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=3132&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 3132w, https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=3264&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 3264w, https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=3432&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 3432w, https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=3732&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 3732w, https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=3864&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 3864w, https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=4032&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 4032w, https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=4332&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 4332w, https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=4464&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 4464w, https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=4632&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 4632w, https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=4932&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 4932w, https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=5064&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 5064w, https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=5120&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 5120w" src="https://images.unsplash.com/photo-1640906152676-dace6710d24b?fm=jpg&amp;q=60&amp;w=3000&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="a black background with a lot of black cubes" class="I7OuT DVW3V L1BOa" style="aspect-ratio: 5120 / 2880;">
<img srcset="https://images.unsplash.com/photo-1640904422940-f3070d65ae29?q=80&amp;w=1032&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1032w, https://images.unsplash.com/photo-1640904422940-f3070d65ae29?q=80&amp;w=1332&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1332w, https://images.unsplash.com/photo-1640904422940-f3070d65ae29?q=80&amp;w=1632&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1632w, https://images.unsplash.com/photo-1640904422940-f3070d65ae29?q=80&amp;w=1932&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1932w, https://images.unsplash.com/photo-1640904422940-f3070d65ae29?q=80&amp;w=2064&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2064w, https://images.unsplash.com/photo-1640904422940-f3070d65ae29?q=80&amp;w=2232&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2232w, https://images.unsplash.com/photo-1640904422940-f3070d65ae29?q=80&amp;w=2532&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2532w, https://images.unsplash.com/photo-1640904422940-f3070d65ae29?q=80&amp;w=2664&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2664w, https://images.unsplash.com/photo-1640904422940-f3070d65ae29?q=80&amp;w=2832&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2832w, https://images.unsplash.com/photo-1640904422940-f3070d65ae29?q=80&amp;w=3132&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 3132w, https://images.unsplash.com/photo-1640904422940-f3070d65ae29?q=80&amp;w=3264&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 3264w, https://images.unsplash.com/photo-1640904422940-f3070d65ae29?q=80&amp;w=3432&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 3432w, https://images.unsplash.com/photo-1640904422940-f3070d65ae29?q=80&amp;w=3732&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 3732w, https://images.unsplash.com/photo-1640904422940-f3070d65ae29?q=80&amp;w=3864&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 3864w, https://images.unsplash.com/photo-1640904422940-f3070d65ae29?q=80&amp;w=4032&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 4032w, https://images.unsplash.com/photo-1640904422940-f3070d65ae29?q=80&amp;w=4332&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 4332w, https://images.unsplash.com/photo-1640904422940-f3070d65ae29?q=80&amp;w=4464&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 4464w, https://images.unsplash.com/photo-1640904422940-f3070d65ae29?q=80&amp;w=4632&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 4632w, https://images.unsplash.com/photo-1640904422940-f3070d65ae29?q=80&amp;w=4932&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 4932w, https://images.unsplash.com/photo-1640904422940-f3070d65ae29?q=80&amp;w=5064&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 5064w, https://images.unsplash.com/photo-1640904422940-f3070d65ae29?q=80&amp;w=5120&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 5120w" src="https://images.unsplash.com/photo-1640904422940-f3070d65ae29?fm=jpg&amp;q=60&amp;w=3000&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="a black background with a pattern of squares" class="I7OuT DVW3V L1BOa" style="aspect-ratio: 5120 / 2880;">
<img srcset="https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=1032&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1032w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=1332&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1332w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=1632&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1632w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=1932&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1932w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=2064&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2064w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=2232&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2232w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=2532&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2532w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=2664&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2664w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=2832&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2832w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=3132&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 3132w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=3264&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 3264w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=3432&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 3432w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=3732&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 3732w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=3864&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 3864w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=4032&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 4032w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=4332&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 4332w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=4464&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 4464w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=4632&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 4632w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=4932&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 4932w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=5064&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 5064w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=5232&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 5232w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=5532&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 5532w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=5664&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 5664w, https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?q=80&amp;w=5760&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 5760w" src="https://images.unsplash.com/photo-1657894825744-1da6d5fbf24d?fm=jpg&amp;q=60&amp;w=3000&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="background pattern" class="I7OuT DVW3V L1BOa" style="aspect-ratio: 5760 / 3240;">
<img srcset="https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=1032&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1032w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=1332&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1332w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=1632&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1632w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=1932&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1932w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=2064&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2064w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=2232&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2232w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=2532&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2532w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=2664&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2664w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=2832&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2832w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=3132&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 3132w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=3264&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 3264w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=3432&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 3432w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=3732&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 3732w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=3864&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 3864w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=4032&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 4032w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=4332&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 4332w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=4464&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 4464w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=4632&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 4632w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=4932&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 4932w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=5064&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 5064w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=5232&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 5232w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=5532&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 5532w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=5664&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 5664w, https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?q=80&amp;w=5760&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 5760w" src="https://images.unsplash.com/photo-1656532042061-c89f5ebf7575?fm=jpg&amp;q=60&amp;w=3000&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="background pattern" class="I7OuT DVW3V L1BOa" style="aspect-ratio: 5760 / 3240;">

https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=1032&amp;auto=format&amp;fit=crop
https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&amp;w=2832&amp;auto=format&amp;fit=crop
*/

:root {
  --clr-neutral-100-hsl: 0, 0%, 100%;
  --clr-neutral-900-hsl: 0, 0%, 0%;

  --clr-neutral-100: hsl(var(--clr-neutral-100-hsl));
  --clr-neutral-900: hsl(var(--clr-neutral-900-hsl));

  --clr-neutral-200-hsl: 252, 100%, 99%;
  --clr-violett-hsl: 250, 78%, 11%;
  --clr-blue-100-hsl: 211, 100%, 95%;
  --clr-blue-400-hsl: 219, 36%, 34%;
  --clr-blue-600-hsl: 213, 53%, 20%;

  --clr-neutral-200: hsl(var(--clr-neutral-200-hsl));
  --clr-violett: hsl(var(--clr-violett-hsl));
  --clr-blue-100: hsl(var(--clr-blue-100-hsl));
  --clr-blue-400: hsl(var(--clr-blue-400-hsl));
  --clr-blue-600: hsl(var(--clr-blue-600-hsl));

  --body-bg: var(--clr-blue-100);
  --clr-text: var(--clr-blue-600);

  --ff-base: system-ui, sans-serif;
  --ff-alt: "Nunito", sans-serif;

  --fs-sm: 0.8rem;
  --fs-md: 1.2rem;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --space-50: 0.5rem;
  --space-100: 1rem;
  --space-150: 1.5rem;
  --space-200: 2rem;

  --space-fluid-50: 0.5rem;
  --space-fluid-100: 1rem;
  --space-fluid-150: 1.5rem;
  --space-fluid-200: 2rem;

  --border-radius: 1rem;
  --border-rounded: 50%;
  --border-pill: 100vw;

  --box-shadow-clr: hsl(var(--clr-neutral-900-hsl), 0.2);
}

body {
  background-color: var(--body-bg);
  color: var(--clr-text);
  display: grid;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: var(--ff-base);
  font-weight: var(--fw-normal);
  font-style: normal;
  font-optical-sizing: auto;

  background-image: image-set(
    url("https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&w=1032&auto=format&fit=crop")
      1x,
    url("https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&w=2832&auto=format&fit=crop")
      2x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

button,
.btn {
  --_btn-base-bg: var(--clr-blue-600);
  --_btn-base-color: var(--clr-neutral-200);
  --_btn-radius: 0;
  --_btn-padding: var(--space-50) var(--space-100);
  --_btn-hover-bg: hsl(var(--clr-neutral-100-hsl), 0.5);
  --_btn-hover-color: var(--clr-neutral-900);
}

.btn--secondary {
  --_btn-base-bg: transparent;
  --_btn-base-color: var(--clr-blue-600);
  --_btn-border: 1px solid var(--clr-blue-600);
}

a.btn {
  text-decoration: none;
}

.menu-toggle::after,
.menu-toggle ~ .menu__item-top::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 24 24' data-testid='KeyboardArrowDownRoundedIcon'%3E%3Cpath d='M8.12 9.29 12 13.17l3.88-3.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-4.59 4.59c-.39.39-1.02.39-1.41 0L6.7 10.7a.9959.9959 0 0 1 0-1.41c.39-.38 1.03-.39 1.42 0'%3E%3C/path%3E%3C/svg%3E");
  background-position: center center;
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out;
}

.full-width {
  width: 100%;
}

.wrapper {
  max-width: 65em;
  margin-inline: auto;
}

.bg-light {
  background-color: var(--clr-neutral-100);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 3em;
  aspect-ratio: 1;
}

.nav {
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: var(--space-100);
}

.menu__item {
  position: relative;
}

/* .menu__item:is(:hover, :focus-within) .submenu {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  transition: opacity 300ms ease, transform 250ms ease, visibility 250ms ease;
} */

.submenu {
  position: absolute;
  top: 100%;
  right: 0;
  /* top: auto;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%); */
  display: grid;
  background-color: var(--clr-neutral-200);
  width: max-content;
  padding: var(--space-fluid-100);
}

.submenu__col {
}

.submenu__title {
  font-size: 1.6rem;
  font-weight: var(--fw-bold);
}

.submenu .btn {
  margin-block-start: var(--space-fluid-100);
}

@media screen and (max-width: 59em) {
}

@media screen and (min-width: 45em) {
  .menu__item:hover .submenu {
    display: grid;
  }

  .submenu {
    display: none;

    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 60em) {
  :root {
    --space-fluid-50: 1rem;
    --space-fluid-100: 2rem;
    --space-fluid-150: 3rem;
    --space-fluid-200: 4rem;
  }
}
