@import "../0_css/base/normalize.css";
@import "../0_css/base/button.css";
@import "../0_css/utils/grid.css";
@import "../0_css/utils/helpers.css";

:root {
  --clr-primary-100: hsl(0, 0%, 100%);
  --clr-primary-200: hsl(0, 0%, 93%);
  --clr-primary-700: hsl(217, 10%, 25%);
  --clr-primary-800: hsl(216, 18%, 16%);
  --clr-primary-900: hsl(0, 0%, 0%);

  --clr-accent: hsl(170, 74%, 54%);

  --body-bg: var(--clr-primary-800);
  --clr-text: var(--clr-primary-100);

  --ff-base: system-ui, sans-serif;
  --ff-alt: "Rubrik", sans-serif;

  --fw-normal: 400;
  --fw-bold: 700;

  --space-100: 1rem;

  --border-radius: 0.5rem;
}

body {
  background-color: var(--body-bg);
  color: var(--clr-text);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: var(--space-100);
  font-family: var(--ff-base);
  font-weight: var(--fw-normal);
  font-style: normal;
  font-optical-sizing: auto;
  background-image: radial-gradient(
      35% 56% at 11% -3%,
      hsla(230, 97%, 73%, 0.3) 1%,
      hsla(228, 100%, 51%, 0) 100%
    ),
    linear-gradient(123deg, var(--clr-primary-800) 0%, hsl(182, 80%, 26%) 100%);
}

h1 {
  font-family: var(--ff-alt);
}

button {
  --_btn-base-bg: hsl(170, 74%, 54%, 0.4);

  font-family: var(--ff-alt);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-100);
  border: 1px solid var(--clr-accent);
  border-radius: var(--border-radius);
}

button:hover {
  --_btn-base-bg: hsla(170, 74%, 54%, 0.8);
}

button:active {
  --_btn-base-bg: hsla(170, 74%, 54%, 0.3);
}

.box {
  max-width: 30em;
  border-radius: var(--border-radius);

  border: 1px solid hsla(170, 74%, 54%, 0.2);
  background-color: hsla(217, 10%, 25%, 0.6);
  box-shadow: 0 0 1rem 0.5rem hsla(0 0 0 / 0.2);
}

.box__head {
  padding: var(--space-100);
  border-bottom: 1px solid hsla(170, 74%, 54%, 0.2);
}

.box__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.box__body,
.box__foot {
  padding: var(--space-100);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item:hover {
  background-image: linear-gradient(0deg, hsla(0, 0%, 93%, 0.2), transparent);
}

.item:hover .item__foot button {
  transform: translateY(0);
}

.item:hover .item__foot .item__text {
  transform: translateY(100%);
}

.item__img {
  width: 2.5em;
  aspect-ratio: 1;
  fill: var(--clr-accent);
}

.item__foot {
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.item__text {
  padding: 0.5rem 1.5rem;
  transform: translateY(0);
  transition: transform 250ms 50ms linear;
}

.item__foot button {
  position: absolute;
  inset: 0;
  z-index: 1;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.box__foot {
  border-top: 1px solid hsla(170, 74%, 54%, 0.2);
}

.box__foot button {
  width: 100%;
  text-transform: uppercase;
}
