.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.w-f {
  width: 100%;
}

/* State Transition */
/* Needs to work together with translate X or Y */

.state-transition-inline-start {
  inset-inline-start: auto;
  transform: translateX(-100%);
}

.state-transition-inline-end {
  inset-inline-end: auto;
  transform: translateX(100%);
}

.state-transition-block-start {
  inset-block-start: auto;
}

.state-transition-block-end {
  inset-block-end: auto;
}
