.progress-bar {
  width: 100%;
  background-color: hsl(186, 70%, 12%);
  height: 1.5rem;
  position: relative;
  overflow: hidden;
}

.progress-bar::before,
.progress-bar::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  animation: progress 1s ease-out forwards;
}

.progress-bar::before {
  content: attr(data-progress) "%";
  z-index: 1;
  color: var(--clr-primary-900);
  text-align: right;
  padding-right: 0.5rem;
}

.progress-bar::after {
  background-color: var(--clr-light-yellow);
  z-index: 0;
  border-radius: 0 100vw 100vw 0;
}

@keyframes progress {
  100% {
    transform: translateX(-60%);
  }
}

/* Html5 progress */
progress[value] {
  --_bar-progress-bg: hsl(0, 0%, 0%, 0.1);
  --_bar-value-bg: steelblue;
  --_bar-radius: 100vw;
  appearance: none;
  height: 0.5em;
}

progress[value]::-webkit-progress-value {
  background-color: var(--_bar-value-bg);
  border-radius: var(--_bar-radius);
}

progress[value]::-webkit-progress-bar {
  background-color: var(--_bar-progress-bg);
  border-radius: var(--_bar-radius);
}

progress[value]::-moz-progress-bar {
  background-color: var(--_bar-progress-bg);
  border-radius: var(--_bar-radius);
}
