@import "../0_css/base/normalize.css";
@import "../0_css/base/button.css";

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-900: hsl(0, 0%, 0%);

  --clr-neutral-100-hsl: 0, 0%, 100%;
  --clr-neutral-900-hsl: 0, 0%, 0%;

  --clr-accent-100: #fbfaff;
  --clr-accent-200: #f2ebfb;
  --clr-accent-400: #d4bbfc;
  --clr-accent-600: #9667e0;
  --clr-accent-800: #2f184b;

  --body-bg: var(--clr-accent-200);
  --clr-text: var(--clr-accent-800);

  --ff-base: system-ui, sans-serif;
  --ff-alt: "Varela Round", sans-serif;

  --fs-sm: 0.8rem;
  --fs-md: 1.2rem;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --space-50: 0.5rem;
  --space-100: 1rem;
  --space-200: 2rem;

  --space-fluid-50: 0.5rem;
  --space-fluid-100: 1rem;
  --space-fluid-200: 2rem;

  --border-radius: 1rem;
  --border-rounded: 50%;
  --border-pill: 100vw;
}

body {
  background-color: var(--body-bg);
  color: var(--clr-text);
  margin: 0;
  padding: var(--space-fluid-50);
  font-family: var(--ff-alt);
  font-weight: var(--fw-normal);
  font-style: normal;
  font-optical-sizing: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: currentColor;
}

.wrapper {
  max-width: 1180px;
  width: 100%;
  margin: var(--space-100) auto;
}

.app {
  background-color: var(--clr-accent-100);
  border-radius: var(--border-radius);
  padding: var(--space-fluid-100) 0;
  box-shadow: 0 0.2rem 0.8rem 0.5rem hsl(var(--clr-neutral-900-hsl), 0.1);

  display: grid;
  align-items: center;
  gap: var(--space-fluid-100);
}

.app__head {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: var(--space-50);
  place-items: center;

  padding: 0 var(--space-fluid-100);
}

.app__head svg {
  width: 1.8em;
  aspect-ratio: 1;
}

.app__head .title {
  font-weight: var(--fw-bold);
}

.app__body {
  background-color: var(--clr-accent-600);
  padding: var(--space-fluid-100);
  color: var(--clr-accent-100);

  display: grid;
  place-items: center;
  gap: var(--space-100);

  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.app__body p {
  margin: 0;
}

.timer {
  font-size: 3.8rem;
}

.timer-time {
  font-weight: var(--fw-bold);
}

.app__foot {
  padding: 0 var(--space-fluid-100);
}

button,
.btn {
  --_btn-base-bg: var(--clr-accent-800);
  --_btn-base-color: var(--clr-accent-100);
  --_btn-border: 0;
  --_btn-hover-bg: var(--clr-accent-200);
  --_btn-hover-color: var(--clr-neutral-900);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-50);
}

button[data-state="start"] svg:nth-child(1),
button[data-state="stop"] svg:nth-child(2) {
  display: block;
}

button[data-state="stop"] svg:nth-child(1),
button[data-state="start"] svg:nth-child(2) {
  display: none;
}

button[data-state="stop"] {
  --_btn-base-bg: var(--clr-accent-200);
  --_btn-base-color: var(--clr-neutral-900);
}

.btn--icon {
  --_btn-radius: var(--border-rounded);
  --_btn-padding: 1.5rem;
  --_btn-focus-outline: 2px solid var(--clr-accent-800);

  aspect-ratio: 1;
  outline: 2px solid var(--clr-accent-800);
  outline-offset: 4px;
}

.btn--icon:active,
.btn--icon:focus-visible {
  outline-color: var(--clr-accent-200);
  outline-offset: 0;
}

.btn--icon svg {
  width: 3em;
}

.btn--invisible {
  --_btn-base-color: var(--clr-neutral-900);
}

.btn--invisible:focus-visible {
  background-color: var(--clr-accent-200);
}

table {
  border-spacing: 0;
}

tbody tr:nth-child(odd) {
  background-color: var(--clr-accent-200);
}

th {
  padding: var(--space-fluid-50);
  color: var(--clr-accent-600);
}

td {
  padding: var(--space-fluid-50);
  color: var(--clr-accent-800);
  text-align: center;
}

td:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

td:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.unit {
  display: none;
}

@media screen and (min-width: 55em) {
}

@media screen and (min-width: 60em) {
  :root {
    --space-fluid-50: 1rem;
    --space-fluid-100: 2rem;
    --space-fluid-200: 4rem;
  }

  .unit {
    display: inline-block;
  }
}
