@import "../0_css/base/normalize.css";

:root {
  --clr-neutral-100-hsl: 0, 0%, 100%;
  --clr-neutral-900-hsl: 0, 0%, 0%;

  --clr-neutral-100: hsl(var(--clr-neutral-100-hsl));
  --clr-neutral-900: hsl(var(--clr-neutral-900-hsl));

  --clr-neutral-300-hsl: 192, 3%, 71%;
  --clr-neutral-400-hsl: 195, 6%, 24%;
  --clr-neutral-600-hsl: 192, 6%, 15%;
  --clr-neutral-800-hsl: 200, 7%, 9%;
  --clr-success-hsl: 114, 39%, 56%;
  --clr-danger-hsl: 354, 39%, 56%;
  --clr-warning-hsl: 24, 39%, 56%;
  --clr-info-hsl: 204, 39%, 56%;

  --clr-neutral-300: hsl(var(--clr-neutral-300-hsl));
  --clr-neutral-400: hsl(var(--clr-neutral-400-hsl));
  --clr-neutral-600: hsl(var(--clr-neutral-600-hsl));
  --clr-neutral-800: hsl(var(--clr-neutral-800-hsl));
  --clr-success: hsl(var(--clr-success-hsl));
  --clr-danger: hsl(var(--clr-danger-hsl));
  --clr-warning: hsl(var(--clr-warning-hsl));
  --clr-info: hsl(var(--clr-info-hsl));

  --body-bg: var(--clr-neutral-800);
  --clr-text: var(--clr-neutral-300);

  --ff-base: system-ui, sans-serif;
  --ff-alt: "Poppins", sans-serif;

  --fs-sm: 0.8rem;
  --fs-md: 1.2rem;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --space-50: 0.5rem;
  --space-100: 1rem;
  --space-150: 1.5rem;
  --space-200: 2rem;

  --space-fluid-50: 0.5rem;
  --space-fluid-100: 1rem;
  --space-fluid-150: 1.5rem;
  --space-fluid-200: 2rem;

  --border-radius: 1rem;
  --border-rounded: 50%;
  --border-pill: 100vw;

  --box-shadow-clr: hsl(var(--clr-neutral-900-hsl), 0.1);
}

[data-theme="light"] {
  --body-bg: var(--clr-neutral-100);
  --clr-text: var(--clr-neutral-900);
  --t-toggle-bg: var(--clr-success);
  --t-toggle-position: 100%;
}

[data-theme="light"] .toast-wrapper {
  --_toast-bg: var(--clr-neutral-100);
  --_toast-clr: var(--clr-text);
  --_toast-border: transparent;
  --_toast-radius: 0;
}

[data-rounded="true"] .toast-wrapper {
  --_toast-radius: var(--border-pill);
}

[data-rounded="true"] {
  --r-toggle-bg: var(--clr-success);
  --r-toggle-position: 100%;
}

[data-progress="true"] {
  --p-toggle-bg: var(--clr-success);
  --p-toggle-position: 100%;
}

[data-progress="true"] .toast::after {
  height: 0.2rem;
  animation: ticking-down 5s forwards;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
}

.toggle {
  position: relative;
  display: block;
  width: 2rem;
  height: 1rem;
  background-color: var(--clr-neutral-300);
  border-radius: var(--border-pill);
}

.toggle::before {
  content: "";
  height: 1rem;
  width: 1rem;
  display: block;
  border: 2px solid var(--clr-neutral-300);
  position: absolute;
  inset-block-start: 0;
  border-radius: var(--border-rounded);
}

.theme .toggle::before {
  background: var(--t-toggle-bg, var(--clr-danger));
  transform: translateX(var(--t-toggle-position));
}

.rounded .toggle::before {
  background: var(--r-toggle-bg, var(--clr-danger));
  transform: translateX(var(--r-toggle-position));
}

.progress .toggle::before {
  background: var(--p-toggle-bg, var(--clr-danger));
  transform: translateX(var(--p-toggle-position));
}

body {
  font-family: var(--ff-alt);
  font-weight: var(--fw-normal);
  font-style: normal;
  margin: 0;
  padding: var(--space-100);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--body-bg);
  color: var(--clr-text);
}

svg {
  width: var(--_icon-size);
  height: var(--_icon-size);
  color: var(--_indicator-bg, --_icon-clr);
  fill: none;
  display: block;
  flex-shrink: 0;
}

.wrapper {
  width: 30%;
}

.toast-wrapper {
  --_toast-bg: var(--clr-neutral-600);
  --_toast-clr: var(--clr-neutral-300);
  --_toast-border: var(--clr-neutral-400);
  --_toast-radius: 0;
  --_toast-width: 25em;
  --_toast-close: var(--clr-neutral-300);
  --_indicator-bg: var(--clr-neutral-300);
  --_progress-bg: var(--clr-neutral-300);
  --_icon-clr: var(--clr-neutral-100);
  --_icon-size: 2rem;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  padding: var(--space-100);
}

.toast {
  background-color: var(--_toast-bg);
  border: 1px solid var(--_toast-border);
  border-radius: var(--_toast-radius);
  box-shadow: 0 0 0.2rem 0.2rem var(--box-shadow-clr);
  color: var(--_toast-clr);
  font-size: 0.9rem;
  padding: var(--space-50) var(--space-100);
  margin: var(--space-100) 0;
  display: flex;
  align-items: center;
  gap: var(--space-100);
  overflow: hidden;
  position: relative;
  max-width: var(--_toast-width);
}

.toast::before {
  content: "";
  position: absolute;
  inset: var(--space-50) auto var(--space-50) 0;
  width: 0.5rem;
  background-color: var(--_indicator-bg);
}

.toast::after {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  width: 0;
  height: 0;
  background-color: var(--_progress-bg);
}

.toast__icon {
  flex-shrink: 0;
}

.toast__text {
  flex-grow: 1;
}

.toast button {
  background-color: transparent;
  color: var(--_toast-close);
  opacity: 0.7;
  border: 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.toast button:hover {
  opacity: 1;
}

.toast--success {
  --_indicator-bg: var(--clr-success);
}

.toast--danger {
  --_indicator-bg: var(--clr-danger);
}

.toast--warning {
  --_indicator-bg: var(--clr-warning);
}

.toast--info {
  --_indicator-bg: var(--clr-info);
}

@keyframes ticking-down {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

.flex {
  display: flex;
  gap: 1rem;
}

.flex-col {
  flex-direction: column;
}
