@import "../0_css/base/normalize.css";

:root {
  --clr-primary-100: #fff;
  --clr-primary-300: #b3b7b8;
  --clr-primary-400: #3a4042;
  --clr-primary-600: #25292a;
  --clr-primary-800: #151718;
  --clr-primary-900: #000;

  --clr-success-100: #6bba62;
  --clr-danger-100: #ba626b;
  --clr-warning-100: #ba8562;
  --clr-info-100: #6297ba;

  --body-bg: var(--clr-primary-800);
  --clr-text: var(--clr-primary-300);

  --fw-normal: 400;
  --fw-bold: 700;
}

[data-theme="light"] {
  --body-bg: var(--clr-primary-100);
  --clr-text: var(--clr-primary-900);
  --t-toggle-bg: green;
  --t-toggle-position: 100%;
}

[data-theme="light"] .toast-wrapper {
  --_toast-bg: var(--clr-primary-100);
  --_toast-clr: var(--clr-text);
  --_toast-border: transparent;
  --_toast-radius: 0;
}

[data-rounded="true"] .toast-wrapper {
  --_toast-radius: 100vw;
}

[data-rounded="true"] {
  --r-toggle-bg: green;
  --r-toggle-position: 100%;
}

[data-progress="true"] {
  --p-toggle-bg: green;
  --p-toggle-position: 100%;
}

[data-progress="true"] .toast::after {
  height: 0.2rem;
  animation: ticking-down 5s forwards;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
}

.toggle {
  position: relative;
  display: block;
  width: 2rem;
  height: 1rem;
  background-color: var(--clr-primary-300);
  border-radius: 100vw;
}

.toggle::before {
  content: "";
  height: 1rem;
  width: 1rem;
  display: block;
  border: 2px solid var(--clr-primary-300);
  position: absolute;
  top: 0;
  border-radius: 50%;
}

.theme .toggle::before {
  background: var(--t-toggle-bg, red);
  transform: translateX(var(--t-toggle-position));
}

.rounded .toggle::before {
  background: var(--r-toggle-bg, red);
  transform: translateX(var(--r-toggle-position));
}

.progress .toggle::before {
  background: var(--p-toggle-bg, red);
  transform: translateX(var(--p-toggle-position));
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: var(--fw-normal);
  font-style: normal;

  margin: 0;
  padding: 1rem;

  display: flex;
  justify-content: center;
  flex-direction: column;

  background-color: var(--body-bg);
  color: var(--clr-text);
}

svg {
  width: var(--_icon-size);
  height: var(--_icon-size);
  color: var(--_indicator-bg, --_icon-clr);
  fill: none;
  display: block;
  flex-shrink: 0;
}

.wrapper {
  width: 30%;
}

.toast-wrapper {
  --_toast-bg: var(--clr-primary-600);
  --_toast-clr: var(--clr-primary-300);
  --_toast-border: var(--clr-primary-400);
  --_toast-radius: 0;
  --_toast-width: 25em;
  --_toast-close: var(--clr-primary-300);
  --_indicator-bg: var(--clr-primary-300);
  --_progress-bg: var(--clr-primary-300);
  --_icon-clr: var(--clr-primary-100);
  --_icon-size: 2rem;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  padding: 1rem;
}

.toast {
  background-color: var(--_toast-bg);
  border: 1px solid var(--_toast-border);
  border-radius: var(--_toast-radius);
  box-shadow: 0 0 0.2rem 0.2rem rgba(0 0 0 / 0.1);
  color: var(--_toast-clr);
  font-size: 0.9rem;

  padding: 0.5rem 1rem;
  margin: 1rem 0;

  display: flex;
  align-items: center;
  gap: 1rem;
  overflow: hidden;

  position: relative;
  max-width: var(--_toast-width);
}

.toast::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5rem;
  bottom: 0.5rem;
  width: 0.5rem;
  background-color: var(--_indicator-bg);
}

.toast::after {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  width: 0;
  height: 0;
  background-color: var(--_progress-bg);
}

.toast__icon {
  flex-shrink: 0;
}

.toast__text {
  flex-grow: 1;
}

.toast button {
  background-color: transparent;
  color: var(--_toast-close);
  opacity: 0.7;
  border: 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.toast button:hover {
  opacity: 1;
}

.toast--success {
  --_indicator-bg: var(--clr-success-100);
}

.toast--danger {
  --_indicator-bg: var(--clr-danger-100);
}

.toast--warning {
  --_indicator-bg: var(--clr-warning-100);
}

.toast--info {
  --_indicator-bg: var(--clr-info-100);
}

@keyframes ticking-down {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

.flex {
  display: flex;
  gap: 1rem;
}

.flex-col {
  flex-direction: column;
}
