@import "../0_css/base/normalize.css";
@import "../0_css/base/button.css";

:root {
  --clr-neutral-100-hsl: 0, 0%, 100%;
  --clr-neutral-900-hsl: 0, 0%, 0%;

  --clr-neutral-100: hsl(var(--clr-neutral-100-hsl));
  --clr-neutral-900: hsl(var(--clr-neutral-900-hsl));

  --clr-blue-400-hsl: 192, 54%, 56%;
  --clr-blue-800-hsl: 229, 32%, 26%;
  --clr-free-hsl: 129, 30%, 67%;
  --clr-standard-hsl: 335, 71%, 64%;
  --clr-premium-hsl: 12, 62%, 63%;

  --clr-blue-400: hsl(var(--clr-blue-400-hsl));
  --clr-blue-800: hsl(var(--clr-blue-800-hsl));
  --clr-free: hsl(var(--clr-free-hsl));
  --clr-standard: hsl(var(--clr-standard-hsl));
  --clr-premium: hsl(var(--clr-premium-hsl));

  --body-bg: var(--clr-blue-400);
  --clr-text: var(--clr-blue-800);

  --ff-base: system-ui, sans-serif;
  --ff-alt: "Varela Round", sans-serif;

  --fs-sm: 0.8rem;
  --fs-md: 1.2rem;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --space-50: 0.5rem;
  --space-100: 1rem;
  --space-150: 1.5rem;
  --space-200: 2rem;

  --space-fluid-50: 0.5rem;
  --space-fluid-100: 1rem;
  --space-fluid-150: 1.5rem;
  --space-fluid-200: 2rem;

  --border-radius: 1rem;
  --border-rounded: 50%;
  --border-pill: 100vw;

  --box-shadow-clr: hsl(var(--clr-neutral-900-hsl), 0.2);
}

body {
  background-color: var(--body-bg);
  color: var(--clr-text);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: var(--space-100);
  font-family: var(--ff-base);
  font-weight: var(--fw-normal);
  font-style: normal;
  font-optical-sizing: auto;
  text-align: center;
  background-image: linear-gradient(
    180deg,
    var(--body-bg),
    var(--clr-neutral-100)
  );
}

.wrapper {
  display: grid;
  gap: var(--space-100);
}

.box {
  --_box-primary-bg: hsl(var(--clr-free-hsl), 0.4);
  --_box-primary-drop-shadow: var(--_box-primary-bg);
  --_box-primary-shadow-inner: hsl(var(--clr-free-hsl), 0.6);

  position: relative;
  padding: var(--space-150);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--clr-neutral-100-hsl), 0.4);
  box-shadow: inset 0 -0.5rem 1rem 0 hsl(var(--clr-blue-400-hsl), 0.4),
    0 2rem 4rem 0 var(--clr-blue-400);
}

.box--standard {
  --_box-primary-bg: hsl(var(--clr-standard-hsl), 0.4);
  --_box-primary-shadow-inner: hsl(var(--clr-standard-hsl), 0.6);
}

.box--premium {
  --_box-primary-bg: hsl(var(--clr-premium-hsl), 0.4);
  --_box-primary-shadow-inner: hsl(var(--clr-premium-hsl), 0.6);
}

.box__title,
.box__price {
  font-family: var(--ff-alt);
  font-weight: var(--fw-bold);
  font-size: 2.5rem;
  text-shadow: 2px 2px 1px hsl(var(--clr-neutral-100-hsl), 0.5);
  margin-block-start: var(--space-100);
}

.box__price-wrapper {
  --_price-size: 10em;

  position: static;
  inset-block-start: -4rem;
  width: var(--_price-size);
  height: var(--_price-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-100);
  border-radius: var(--border-rounded);
  background-color: var(--_box-primary-bg);
  box-shadow: inset 1px 4px 10px var(--clr-neutral-100),
    inset -6px -4px 10px 0 var(--_box-primary-shadow-inner),
    6px 6px 16px 0 var(--_box-primary-drop-shadow);
}

.box__price {
  font-size: 3rem;
  margin: auto;
}

.box__price span {
  font-size: 1.5rem;
}

.box__description {
  margin-block-end: var(--space-150);
}

button,
.btn {
  --_btn-base-bg: var(--_box-primary-bg);
  --_btn-hover-bg: transparent;
  --_btn-hover-color: var(--clr-text);
  --_btn-border: 1px solid var(--_btn-base-bg);
  --_btn-radius: var(--border-radius);
  --_btn-transition: transform 300ms ease, background-color 300ms ease;

  box-shadow: inset 1px 4px 10px var(--clr-neutral-100),
    inset -6px -4px 10px 0 var(--_box-primary-drop-shadow),
    6px 6px 16px 0 var(--_box-primary-shadow-inner);
}

button:hover,
button:focus-visible,
.btn:hover,
.btn:focus-visible {
  transform: scale(1.2);
}

@media (min-width: 50em) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .box {
    padding-block-start: 5.5rem;
  }

  .box__price-wrapper {
    position: absolute;
    inset-block-start: -4rem;
  }
}
