@import "../0_css/base/normalize.css";
@import "../0_css/base/button.css";
@import "../0_css/utils/grid.css";
@import "../0_css/utils/helpers.css";

:root {
  --clr-neutral-100-hsl: 0, 0%, 100%;
  --clr-neutral-900-hsl: 0, 0%, 0%;

  --clr-neutral-100: hsl(var(--clr-neutral-100-hsl));
  --clr-neutral-900: hsl(var(--clr-neutral-900-hsl));

  --clr-neutral-800-hsl: 225, 5%, 17%;
  --clr-amber-hsl: 42, 100%, 62%;
  --clr-emerald-hsl: 164, 95%, 43%;
  --clr-blue-hsl: 187, 73%, 39%;
  --clr-midnight-green-hsl: 186, 71%, 20%;

  --clr-neutral-800: hsl(var(--clr-neutral-800-hsl));
  --clr-amber: hsl(var(--clr-amber-hsl));
  --clr-emerald: hsl(var(--clr-emerald-hsl));
  --clr-blue: hsl(var(--clr-blue-hsl));
  --clr-midnight-green: hsl(var(--clr-midnight-green-hsl));

  --body-bg: var(--clr-neutral-800);
  --clr-text: var(--clr-neutral-100);

  --ff-base: system-ui, sans-serif;
  --ff-alt: "Open Sans", sans-serif;

  --fs-sm: 0.8rem;
  --fs-md: 1.2rem;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --space-50: 0.5rem;
  --space-100: 1rem;
  --space-150: 1.5rem;
  --space-200: 2rem;

  --space-fluid-50: 0.5rem;
  --space-fluid-100: 1rem;
  --space-fluid-150: 1.5rem;
  --space-fluid-200: 2rem;

  --border-radius: 1rem;
  --border-rounded: 50%;
  --border-pill: 100vw;

  --box-shadow-clr: hsl(var(--clr-neutral-900-hsl), 0.2);
}

body {
  background-color: var(--body-bg);
  color: var(--clr-text);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: var(--space-100);
  font-family: var(--ff-base);
  font-weight: var(--fw-normal);
  font-style: normal;
  font-optical-sizing: auto;
  background-image: radial-gradient(
    circle at top,
    hsl(225, 5%, 30%),
    var(--clr-neutral-800)
  );
}

.box {
  max-width: 30em;
  border-radius: calc(var(--border-radius) * 2);
  overflow: hidden;
  border-block-start: 0.3rem solid var(--clr-amber);

  background-image: linear-gradient(
    160deg,
    hsl(186, 71%, 35%),
    var(--clr-midnight-green)
  );
  box-shadow: 0 0.8rem 1rem 1rem var(--box-shadow-clr),
    inset 0 -0.2rem 0.5rem 0.2rem var(--box-shadow-clr);
}

.box__head {
  background-color: var(--clr-blue);
  position: relative;
  display: grid;
  grid-template-columns: auto 3em;
  padding: var(--space-100);
  box-shadow: inset 0 -0.2rem 0.5rem 0.2rem var(--box-shadow-clr);
}

.box__head .date {
  font-size: var(--fs-sm);
}

.box__actions button {
  --_btn-base-bg: transparent;
  --_btn-padding: 0;
  --_btn-radius: var(--border-rounded);
  --_btn-border: 2px solid var(--clr-midnight-green);
  --_btn-transition: background-color 200ms ease;
  --_btn-hover-bg: var(--clr-midnight-green);

  width: 2.5rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  position: relative;
}

.box__actions span {
  width: 0.25em;
  aspect-ratio: 1;
  display: block;
  background-color: var(--clr-neutral-100);
  border-radius: var(--border-rounded);
  transform: translateY(0);
}

.box__actions button:hover span {
  --_delay: 0ms;

  animation: jump 500ms var(--_delay) ease;
}

.box__actions button:hover span:nth-child(2) {
  --_delay: 100ms;
}

.box__actions button:hover span:nth-child(3) {
  --_delay: 200ms;
}

.box__body,
.box__foot {
  padding: var(--space-100);
}

.box__foot ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--space-50);
}

.box__foot li {
  position: relative;
}

.box__foot img {
  width: 3em;
  aspect-ratio: 1;
  border-radius: var(--border-rounded);
  border: 0.2rem solid transparent;
  box-shadow: 0 0 0 0.1rem var(--clr-blue);
  transition: border 200ms ease;
}

.box__foot img:hover {
  border-color: var(--clr-blue);
}

.box__foot img:hover + span {
  opacity: 1;
}

.box__foot span {
  position: absolute;
  inset-block-start: -2.2rem;
  inset-inline-start: 50%;
  opacity: 0;
  pointer-events: none;
  background-color: var(--clr-blue);
  border-radius: calc(var(--border-radius) / 2);
  padding: 0.1rem 0.4rem;
  transform: translateX(-50%);
}

.box__foot span::after {
  content: "";
  position: absolute;
  inset-block-end: -0.5rem;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.6rem 0.6rem 0 0.6rem;
  border-color: var(--clr-blue) transparent transparent transparent;
}

.progress-title {
  font-size: 1.3rem;
}

.progress-bar {
  width: 100%;
  background-color: var(--clr-midnight-green);
  height: 1.5rem;
  position: relative;
  overflow: hidden;
}

.progress-bar::before,
.progress-bar::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  animation: progress 1s ease-out forwards;
}

.progress-bar::before {
  content: attr(data-progress) "%";
  z-index: 1;
  color: var(--clr-neutral-900);
  text-align: end;
  padding-right: var(--space-50);
}

.progress-bar::after {
  background-color: var(--clr-amber);
  z-index: 0;
  border-radius: 0 var(--border-pill) var(--border-pill) 0;
}

@keyframes progress {
  100% {
    transform: translateX(-60%);
  }
}

@keyframes jump {
  50% {
    transform: translateY(-0.4rem);
  }

  100% {
    transform: translateY(0);
  }
}
