@import "../0_css/base/normalize.css";
@import "../0_css/base/button.css";
@import "../0_css/utils/grid.css";
@import "../0_css/utils/helpers.css";

:root {
  --clr-primary-100: hsl(0, 0%, 100%);
  --clr-primary-800: hsl(225, 5%, 17%);
  --clr-primary-900: hsl(0, 0%, 0%);

  --clr-amber: #ffc43d;
  --clr-light-yellow: #f8ffe5;
  --clr-emerald: #06d6a0;
  --clr-blue: #1b9aaa;
  --clr-midnight-green: hsl(186, 71%, 20%);

  --body-bg: var(--clr-primary-800);
  --clr-text: var(--clr-primary-100);

  --ff-base: system-ui, sans-serif;

  --fw-normal: 400;
  --fw-bold: 700;

  --space-100: 1rem;
}

body {
  background-color: var(--body-bg);
  color: var(--clr-text);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: var(--space-100);
  font-family: var(--ff-base);
  font-weight: var(--fw-normal);
  font-style: normal;
  font-optical-sizing: auto;
  background-image: radial-gradient(
    circle at top,
    hsl(225, 5%, 30%),
    hsl(225, 5%, 17%)
  );
}

.box {
  max-width: 30em;
  border-radius: 2rem;
  overflow: hidden;
  border-top: 0.3rem solid var(--clr-amber);

  background-image: linear-gradient(
    160deg,
    hsl(186, 71%, 35%),
    hsl(186, 71%, 20%)
  );
  box-shadow: 0 0.8rem 1rem 1rem hsla(0 0 0 / 0.2),
    inset 0 -0.2rem 0.5rem 0.2rem hsla(0 0 0 / 0.2);
}

.box__head {
  background-color: var(--clr-blue);
  position: relative;
  display: grid;
  grid-template-columns: auto 3em;
  padding: var(--space-100);
  box-shadow: inset 0 -0.2rem 0.5rem 0.2rem hsla(0 0 0 / 0.2);
}

.box__head .date {
  font-size: 0.8rem;
}

.box__actions button {
  --_btn-base-bg: transparent;
  --_btn-padding: 0;

  width: 2.5rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  border-radius: 50%;
  border: 2px solid var(--clr-midnight-green);
  text-decoration: none;
  position: relative;
  transition: background-color 200ms ease;
}

.box__actions span {
  width: 0.25em;
  aspect-ratio: 1;
  display: block;
  background-color: var(--clr-primary-100);
  border-radius: 50%;
  transform: translateY(0);
}

.box__actions button:hover {
  background-color: var(--clr-midnight-green);
}

.box__actions button:hover span {
  --_delay: 0ms;

  animation: jump 500ms var(--_delay) ease;
}

.box__actions button:hover span:nth-child(2) {
  --_delay: 100ms;
}

.box__actions button:hover span:nth-child(3) {
  --_delay: 200ms;
}

.box__body,
.box__foot {
  padding: var(--space-100);
}

.box__foot ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
}

.box__foot li {
  position: relative;
}

.box__foot img {
  width: 3em;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0.2rem solid transparent;
  box-shadow: 0 0 0 0.1rem var(--clr-blue);
  transition: border 200ms ease;
}

.box__foot img:hover {
  border-color: var(--clr-blue);
}

.box__foot img:hover + span {
  opacity: 1;
}

.box__foot span {
  position: absolute;
  opacity: 0;
  top: -2.2rem;
  pointer-events: none;
  background-color: var(--clr-blue);
  border-radius: 0.5rem;
  padding: 0.1rem 0.4rem;
  left: 50%;
  transform: translateX(-50%);
}

.box__foot span::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.6rem 0.6rem 0 0.6rem;
  border-color: var(--clr-blue) transparent transparent transparent;
}

.progress-title {
  font-size: 1.3rem;
}

.progress-bar {
  width: 100%;
  background-color: hsl(186, 70%, 12%);
  height: 1.5rem;
  position: relative;
  overflow: hidden;
}

.progress-bar::before,
.progress-bar::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  animation: progress 1s ease-out forwards;
}

.progress-bar::before {
  content: attr(data-progress) "%";
  z-index: 1;
  color: var(--clr-primary-900);
  text-align: right;
  padding-right: 0.5rem;
}

.progress-bar::after {
  background-color: var(--clr-light-yellow);
  z-index: 0;
  border-radius: 0 100vw 100vw 0;
}

@keyframes progress {
  100% {
    transform: translateX(-60%);
  }
}

@keyframes jump {
  50% {
    transform: translateY(-0.4rem);
  }

  100% {
    transform: translateY(0);
  }
}
