button,
.btn {
  --_btn-base-bg: #fff;
  --_btn-base-color: #000;
  --_btn-padding: 0.5rem 1.5rem;
  --_btn-cursor: pointer;
  --_btn-radius: 0;
  --_btn-border: 1px solid #000;

  --_btn-hover-bg: #000;
  --_btn-hover-color: #fff;

  --_btn-focus-outline: 1px solid #fff;

  --_btn-icon-color: #000;
  --_btn-icon-size: 1.5em;

  --_btn-transition: background-color 250ms ease;

  background-color: var(--_btn-base-bg);
  border-radius: var(--_btn-radius);
  border: var(--_btn-border);
  color: var(--_btn-base-color);
  cursor: var(--_btn-cursor);
  display: inline-flex;
  padding: var(--_btn-padding);
  transition: var(--_btn-transition);
}

button:hover,
.btn:hover {
  background-color: var(--_btn-hover-bg);
  color: var(--_btn-hover-color);
}

button:focus-visible,
.btn:focus-visible {
  outline: var(--_btn-focus-outline);
}

button svg,
.btn svg {
  width: var(--_btn-icon-size);
  height: var(--_btn-icon-size);
  color: var(--_btn-icon-color);
}

.btn--invisible {
  --_btn-base-bg: transparent;
  --_btn-border: 0;
  --_btn-padding: 0.2rem 0.5rem;

  --_btn-hover-bg: transparent;
}

.btn--icon {
  --_btn-padding: 0.5rem;
}

.btn--lg {
  --_btn-padding: 1rem 2rem;

  font-size: 1rem;
}
