@import "../0_css/base/normalize.css";
@import "../0_css/base/button.css";

:root {
  --clr-neutral-100-hsl: 0, 0%, 100%;
  --clr-neutral-900-hsl: 0, 0%, 0%;

  --clr-neutral-100: hsl(var(--clr-neutral-100-hsl));
  --clr-neutral-900: hsl(var(--clr-neutral-900-hsl));

  --clr-neutral-600-hsl: 212, 14%, 44%;
  --clr-neutral-800-hsl: 212, 14%, 19%;
  --clr-blue-hsl: 176, 62%, 80%;

  --clr-neutral-600: hsl(var(--clr-neutral-600-hsl));
  --clr-neutral-800: hsl(var(--clr-neutral-800-hsl));
  --clr-blue: hsl(var(--clr-blue-hsl));

  --body-bg: var(--clr-neutral-100);
  --clr-text: var(--clr-neutral-800);

  --ff-base: system-ui, sans-serif;
  --ff-alt: "Outfit", sans-serif;

  --fs-sm: 0.8rem;
  --fs-md: 1.2rem;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --space-50: 0.5rem;
  --space-100: 1rem;
  --space-150: 1.5rem;
  --space-200: 2rem;

  --space-fluid-50: 0.5rem;
  --space-fluid-100: 1rem;
  --space-fluid-150: 1.5rem;
  --space-fluid-200: 2rem;

  --border-radius: 1rem;
  --border-rounded: 50%;
  --border-pill: 100vw;

  --box-shadow-clr: hsl(var(--clr-neutral-900-hsl), 0.1);
}

body {
  background-color: var(--body-bg);
  color: var(--clr-text);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: var(--space-100);
  font-family: var(--ff-alt);
  font-weight: var(--fw-normal);
  font-style: normal;
  font-optical-sizing: auto;

  background-image: linear-gradient(
    345deg,
    var(--clr-neutral-100) 60%,
    var(--clr-blue) 60%
  );
  background-attachment: fixed;
}

button {
  --_btn-base-bg: var(--clr-neutral-100);
  --_btn-base-color: var(--clr-neutral-900);
  --_btn-radius: var(--border-radius);
  --_btn-padding: var(--space-50) var(--space-100);
  --_btn-hover-bg: hsl(var(--clr-neutral-100-hsl), 0.5);
  --_btn-hover-color: var(--clr-neutral-900);
}

.btn--invisible {
  --_btn-hover-bg: hsl(var(--clr-neutral-100-hsl), 0.8);
}

header {
  display: flex;
  align-items: start;
  gap: var(--space-fluid-50);
  padding-block: var(--space-fluid-100);
}

header span {
  color: var(--clr-neutral-600);
}

main {
  background-color: var(--clr-neutral-100);
  box-shadow: 0 1rem 1rem 0.2rem var(--box-shadow-clr);
  padding: var(--space-100);
}

h1,
h2 {
  margin-block-start: 0;
}

h1 {
  font-size: clamp(2rem, 4vw, 3rem);
}

h2 {
  font-size: clamp(1.2rem, 2.8vw, 1.8rem);
}

.wrapper {
  width: min(100%, 45em);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: item;

  display: grid;
  gap: var(--space-100);
}

.list__item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--space-fluid-50);
  padding: var(--space-50);
  transition: background-color 250ms ease-in-out;
}

.list__item:hover {
  background-color: hsl(var(--clr-blue-hsl), 0.8);
}

.list__item:hover::before {
  background-color: hsl(var(--clr-neutral-100-hsl), 0.8);
}

.list__item::before {
  counter-increment: item;
  content: counter(item);
  display: grid;
  place-items: center;
  width: 1.8em;
  height: 1.8em;
  border-radius: var(--border-rounded);
  border: 2px solid hsl(var(--clr-neutral-900-hsl), 0.3);
  font-weight: var(--fw-bold);
  transition: background-color 250ms ease-in-out;
}

.album {
  display: grid;
  grid-template-columns: 50px 1fr auto;
  align-items: center;
  gap: var(--space-fluid-100);
}

.album__info {
  overflow: hidden;
}

.album__info h2 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.album__info p {
  font-size: clamp(0.8rem, 1.8vw, 1.4rem);
  margin-block-start: 0;
}

.album__stats {
  font-size: clamp(1rem, 1.8vw, 1.4rem);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-600);
}

@media screen and (max-width: 59em) {
}

@media screen and (min-width: 45em) {
}

@media screen and (min-width: 60em) {
  :root {
    --space-fluid-50: 1rem;
    --space-fluid-100: 2rem;
    --space-fluid-150: 3rem;
    --space-fluid-200: 4rem;
  }

  .album {
    grid-template-columns: 75px 1fr auto;
  }
}
