@import "../0_css/base/normalize.css";
@import "../0_css/base/button.css";

/* https://dribbble.com/shots/749270/attachments/749270-Voice-Search */
/* Future iterations - Fix color to variables (orange) */

:root {
  --clr-neutral-100-hsl: 0, 0%, 100%;
  --clr-neutral-900-hsl: 0, 0%, 0%;

  --clr-neutral-100: hsl(var(--clr-neutral-100-hsl));
  --clr-neutral-900: hsl(var(--clr-neutral-900-hsl));

  --clr-accent-200: #ccd1db;
  --clr-accent-400: hsl(217, 18%, 77%);
  --clr-accent-600: #4d5461;
  --clr-accent-800: #2d343e;

  --body-bg: var(--clr-neutral-900);
  --clr-text: var(--clr-neutral-100);

  --ff-base: "PT Sans", system-ui, sans-serif;
  --ff-alt: "PT Serif", serif;

  --fs-sm: 0.8rem;
  --fs-md: 1.2rem;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --space-50: 0.5rem;
  --space-100: 1rem;
  --space-200: 2rem;

  --space-fluid-50: 0.5rem;
  --space-fluid-100: 1rem;
  --space-fluid-150: 1.5rem;
  --space-fluid-200: 2rem;

  --border-radius: 0.5rem;
  --border-rounded: 50%;
  --border-pill: 100vw;

  --box-shadow-clr: hsl(var(--clr-neutral-900-hsl), 0.2);
}

body {
  background-color: var(--body-bg);
  color: var(--clr-text);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: var(--space-100);
  font-family: var(--ff-base);
  font-weight: var(--fw-normal);
  font-style: normal;
  font-optical-sizing: auto;

  /* https://projects.verou.me/css3patterns/#carbon-fibre */
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
}

h2 {
  font-family: var(--ff-alt);
  margin-top: 0;
  margin-bottom: var(--space-fluid-100);
}

button,
.btn {
  --_btn-base-bg: #ff9e03;
  --_btn-base-color: var(--clr-neutral-100);
  --_btn-radius: var(--border-radius);
  --_btn-padding: var(--space-50) var(--space-100);
  --_btn-hover-bg: hsl(var(--clr-neutral-100-hsl), 0.5);
  --_btn-hover-color: var(--clr-neutral-100);
  --_btn-border: 1px solid #e99d24;

  background-image: linear-gradient(
    0deg,
    #ff9e03 0%,
    #c77e01 49%,
    #ffa300 50%,
    #ffa300 96%,
    #ffe5bb 99%,
    #ffffff 99%
  );
  background-size: 200% 100%;
  text-shadow: 0 2px 1px var(--clr-neutral-900);
  text-decoration: none;

  transition: background-size 250ms ease-in-out;
}

button:hover,
.btn:hover {
  background-size: 200% 200%;
  border-color: #ffbe4e;
}

.btn--outline {
  background-color: #ff9e0300;
  background-image: none;
  border-color: #ffbe4e;
  text-shadow: none;
  transition: background-color 250ms ease-in-out;
}

.btn--outline:hover {
  background-color: #ff9e034b;
}

.wrapper {
  display: grid;
  gap: var(--space-fluid-100);
  max-width: 1280px;

  grid-template-areas:
    "one"
    "two"
    "three";
}

.box:nth-child(1) {
  grid-area: one;
}

.box:nth-child(2) {
  grid-area: two;
}
.box:nth-child(3) {
  grid-area: three;
}

.box {
  background-color: var(--clr-accent-600);
  background-image: linear-gradient(
    90deg,
    var(--clr-accent-600),
    var(--clr-accent-800)
  );
  padding: var(--space-200);
  border-radius: var(--border-radius);
  border: 1px solid var(--clr-accent-800);
  box-shadow: inset 1px 1px 2px 0 var(--clr-accent-400),
    inset -1px -1px 0 0 var(--clr-accent-600);
  text-align: center;
  width: 100%;
}

.box:nth-child(2) {
  width: 40ch;
}

.box:nth-child(2) form {
  display: flex;
  flex-direction: column;
  gap: var(--space-50);
  margin-top: var(--space-fluid-100);
}

.box--horizontal {
  text-align: left;
}

.box--horizontal form {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}

.box--horizontal button {
  align-self: end;
}

.form-group {
}

.form-group label {
  display: flex;
  align-items: center;
  gap: var(--space-50);
  margin-bottom: var(--space-50);
}

label {
  color: var(--clr-neutral-100);
}

label svg {
  width: 1.5em;
  height: 1.5em;
}

input[type="text"] {
  background-color: var(--clr-accent-800);
  color: var(--clr-neutral-100);
  padding: var(--space-50) var(--space-100);
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  box-shadow: inset 0 0 3px 1px hsl(var(--clr-neutral-900-hsl), 0.5),
    0 1px 0 0px hsl(217, 18%, 77%, 0.2);
  width: 100%;
}

input[type="text"]:focus-visible {
  outline-color: #ff9e03;
}

.flex {
  display: flex;
  gap: var(--space-50);
  justify-content: center;
}

@media screen and (max-width: 59em) {
}

@media screen and (min-width: 45em) {
}

@media screen and (min-width: 60em) {
  :root {
    --space-fluid-50: 1rem;
    --space-fluid-100: 2rem;
    --space-fluid-200: 4rem;
  }

  .wrapper {
    grid-template-areas:
      ". one one one one one"
      "two two . . . ."
      "two two . three three .";
  }

  .box--horizontal form {
    flex-direction: row;
  }
}
