@import "../0_css/base/normalize.css";
@import "../0_css/base/button.css";

:root {
  --clr-primary-100: hsl(0, 0%, 100%);
  --clr-primary-200: hsl(30, 20%, 80%);
  --clr-primary-700: #3a3535;
  --clr-primary-800: #232020;
  --clr-primary-900: hsl(0, 0%, 0%);

  --clr-dark-blue: #3090a1;
  --clr-blue: #7bcecc;
  --clr-cream: #fef8e6;
  --clr-red: #bc5148;

  --body-bg: var(--clr-primary-800);
  --clr-text: var(--clr-primary-100);

  --ff-base: system-ui, sans-serif;
  --ff-alt: "Lobster", sans-serif;

  --fw-normal: 400;
  --fw-bold: 700;
}

body {
  background-color: var(--body-bg);
  color: var(--clr-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: var(--ff-base);
  font-weight: var(--fw-normal);
  font-style: normal;
  font-optical-sizing: auto;
  text-align: center;
}

.box {
  max-width: 30em;
  padding: 1.5rem;
  background-color: var(--clr-primary-700);
  box-shadow: inset 0 0 0 0.1rem var(--clr-primary-100),
    -1rem 1rem 0 0 var(--clr-primary-100);
  border: 0.8rem solid var(--clr-primary-700);
}

form {
  border-top: 0.4rem dotted var(--clr-primary-100);
}

h1 {
  font-family: var(--ff-alt);
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--clr-primary-100);
  padding: 0.5rem 1rem;
  color: var(--clr-primary-100);
}

input:focus {
  outline: 2px dotted var(--clr-primary-100);
}

.form-group {
  margin: 2rem 0;
}

.form-group--small {
  font-size: 0.8rem;
}

button {
  --_btn-base-bg: transparent;
  --_btn-base-color: var(--clr-primary-100);

  border: 1px solid var(--clr-primary-100);
  outline: 1px solid var(--clr-primary-100);
  outline-offset: -1px;
  transition: outline-offset 200ms ease;
}

button:hover,
button:focus {
  outline-offset: -4px;
}
